.t-list {
    width: 100%;
    max-width: 100%;
    box-shadow: 0 0.05rem 0.2rem 0 rgba(0, 0, 0, 0.2),
        0 0.1rem 0.1rem 0 rgba(0, 0, 0, 0.14),
        0 0.15rem 0.05rem -0.1rem rgba(0, 0, 0, 0.12);
    border: 0.06rem solid #ebebeb;
    height: 30%;
    background-color: rgba(244, 247, 252, 0.97);
}

.visible {
    transition: opacity 0.3s linear;
    opacity: 1;
}

.hidden {
    opacity: 0;
}

.card-header {
    height: 3rem;
    padding: 0.5rem 0.75rem;
    margin: 0;
    background-color: var(--foregroundWhite);
    cursor: grab;
}

.card-title {
    font-size: 0.9rem;
    font-weight: 600;
    margin: 0;
    line-height: 2rem;
    color: var(--darkGray1);
}

.list-item-container {
    flex-grow: 1;
    padding: 0.5rem;
    min-height: 2rem;
    width: 100%;
}

.new-task-container {
    width: 100%;
    max-width: 100%;
    padding: 0.1rem;
}

.btn-new-task {
    margin: 0;
    padding: 0;
}

.add-icon {
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--darkGray1);
    vertical-align: middle;
    transition: all 0.15s linear;
}

.add-icon:hover {
    color: var(--statusBlue);
}

.new-task-input {
    width: 100%;
    max-width: 100%;
    padding: 0 0.25rem;
    font-size: 0.9rem;
    margin: 0;
    height: 2rem;
}

.btn-new-task-submit {
    max-width: 50%;
    margin-top: 0.4rem;
    padding: 0 0.3rem;
    color: white;
    background-color: var(--mediumBlue);
}
