.t-list {
    width: 100%;
    max-width: 100%;
    box-shadow: rgba(0, 0, 0, 0.15) 0 0.06rem 0.06rem 0,
        rgba(0, 0, 0, 0.01) 0 0.06rem 0.1rem 0;
    border: 0.06rem solid #ebebeb;
    height: 30%;
}

.card-header {
    height: 3rem;
    padding: 0.5rem 0.75rem;
    margin: 0;
    background-color: var(--backgroundGray);
}

.card-title {
    font-size: 0.9rem;
    font-weight: 600;
    margin: 0;
    line-height: 2rem;
    color: var(--darkGray1);
}

.list-item-container {
    flex-grow: 1;
    padding: 0.5rem;
    min-height: 2rem;
    width: 100%;
}

.new-task-container {
    width: 100%;
    max-width: 100%;
    padding: 0.1rem;
}

.btn-new-task {
    margin: 0;
    padding: 0;
}

.material-icons {
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--darkGray1);
    vertical-align: middle;
}

.new-task-input {
    width: 100%;
    max-width: 100%;
    padding: 0 0.25rem;
}

.btn-new-task-submit {
    max-width: 50%;
    margin-top: 0.4rem;
    padding: 0 0.3rem;
    color: white;
    background-color: var(--mediumBlue);
}
