body {
    position: relative;
    background-color: var(--backgroundGray);
    background-size: cover;
    font-family: proxima-nova, sans-serif;
}

.center-block {
    margin: 0 auto;
    float: none;
}

/** Global Variables */
:root {
    --primaryBlue: #01579b;
    --lakeBlue: #004baf;
    --riverBlue: #097dbc;
    --melloBlue: #049fd9;
    --mediumBlue: #34adde;
    --statusBlue: #64bbe3;
    --icyBlue: #c4d6ed;
    --darkGray1: #39393b;
    --darkGray2: #626469;
    --mediumGray1: #9e9ea2;
    --lightGray1: #c6c7ca;
    --lightGray2: #e9e9e9;
    --paleGray1: #e8ebf1;
    --backgroundGray: #eee;
    --foregroundWhite: #fafafa;
}
